{% extends 'mypg/basic.html' %}
{% block btn_on_contact_login %}btn{% endblock btn_on_contact_login %}
{% block seo %}
<title>Forget Password: Apna Thikana</title>
<meta name="description" content="Forgotten your password? Enter email address attached with your account below, and we'll email instructions for setting a new one">
<link rel="canonical" href="https://yourwebsite.com/">
{% endblock seo %}
{% block body %}
{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter email address attached with your account below, and we'll email instructions for setting a new one.</p>
        <form method="POST" onsubmit="activate_spinner()">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button id="send"  class="btn btn-primary my-2" type="submit">Send email</button>
        </form>
  	</div> 
	<div class="container" style="height: 200px;"></div>
 <script>
	 function activate_spinner()
{
  document.getElementById("send").innerHTML = "<button  class='btn btn-primary'><span class='spinner-border spinner-border-sm'></span> Please Wait...</button>";

}
 </script>
{% endblock body %}