{% extends 'mypg/basic.html' %}
{% block btn_on_contact_login %}btn{% endblock btn_on_contact_login %}
{% block seo %}
<title>Apna Thikana: Password Reset Confirm</title>
{% endblock seo %}
{% block body %}
{% load crispy_forms_tags %}
 <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary my-3" type="submit">Reset password</button>
        </form>
    </div>
{% endblock body %}