{% extends 'mypg/basic.html' %}
{% block btn_on_contact_login %}btn{% endblock btn_on_contact_login %}
{% block seo %}
<title>Password reset link sent.</title>

{% endblock seo %}
{% block body %}
<!--Password reset sent-->
	<div class="container p-5 my-5">
  	<h2 class="font-weight-bold mt-3">Password reset link sent.</h2>
		<hr>
		<p class="smallpara">We've emailed you instructions and link for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>    
  <div class="container" style="height: 150px;">

  </div>     

	
{% endblock body %}