{% extends 'mypg/basic.html' %}
{% block btn_on_contact_login %}btn{% endblock btn_on_contact_login %}
{% block useractive %}info{% endblock useractive %}
{% block css %}
.pg-card {
text-decoration: none;
color: black;
}

.pg-card:hover {
color: black;
}

.box {
box-shadow: 5px 10px 7px rgb(151, 149, 149);
border: 2px grey;

}

.box:hover {
box-shadow: 5px 10px 7px rgb(119, 116, 116);
}
{% endblock css %}
{% block body %}

<div class="text-center container my-2">
    <h1><i class="fa fa-user fa-2x"></i></h1>
    <h2 class="headings" style="display: inline; color:#1f9bd7 ;">Welcome</h2>
    <h2 class="headings" style="display: inline; color: #a73638;">{{user.first_name}}</h2>
</div>

<div class="container">
    <hr>
    <h2 class="subheadings">User Details:</h2>
    <div class="container" style="font-size: 20px;">
        <ul class="list-group list-group my-2 ">
            <li class="list-group-item"><strong>Name: </strong> {{user.first_name}}</li>
            <li class="list-group-item"><strong>Gmail: </strong> {{user.email}} </li>
            <li class="list-group-item"><strong>Username: </strong>{{user.username}}</li>

            <!-- Logout and edit details -->
            <li class="list-group-item">
                <p>
                    <a class="btn btn-primary" href="{% url 'logout' %}"    role="button">Logout</a>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#edituserdetails" aria-expanded="false" aria-controls="edituserdetails">
                        <i class="fa fa-pencil-square"></i> Edit Details
                    </button>
                </p>
                <div class="collapse" id="edituserdetails">
                    <div class="card card-body">
                        <form method="POST" action="{% url 'changedetails' user.username %}">
                            {% csrf_token %}
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email:</label>
                              <input type="email" name="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{user.email}}">
                              
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputName"  class="form-label">Name:</label>
                              <input type="text" name="name" required class="form-control" id="exampleInputName" placeholder="{{user.first_name}}">
                            </div>
                           
                            <button type="submit" class="btn btn-primary">Update Details</button>
                          </form>
                    </div>
                </div>
            </li>
            
            <!-- Update Password -->
            <li class="list-group-item">
                    
                <p>
                    <a class="btn btn-warning" href="{% url 'testmotional' %}"><i class="fa fa-pencil"></i> Write a Testmotional</a>
                    <button class="btn btn-warning my-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#changepassword" aria-expanded="false" aria-controls="changepassword">
                        <i class="fa fa-unlock-alt"></i> Change Password
                    </button>
                </p>
                <div class="collapse" id="changepassword">
                    <div class="card card-body">
                        <form method="POST" action="{% url 'changepassword' user.username %}">
                            {% csrf_token %}
                            <div class="mb-3">
                              <label for="oldpassword" class="form-label">Old Password: </label>
                              <input type="password" name="oldpassword" required class="form-control" id="oldpassword" >
                              
                            </div>
                            <div class="mb-3">
                              <label for="newpassword"  class="form-label">New Password:</label>
                              <input type="password" name="newpassword" required class="form-control" id="newpassword">
                            </div>
                            <div class="mb-3">
                              <label for="confirmnewpassword"  class="form-label">Confirm New Password:</label>
                              <input type="password" name="confirmnewpassword" required class="form-control" id="confirmnewpassword">
                            </div>
                           
                            <button type="submit" class="btn btn-primary">Update Details</button>
                          </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<div class="container my-4">
    <hr>
    <h2 class="subheadings my-3">Pending Orders:</h2>
    <!-- if no order then show empty message -->
    {% if pending_len == 0 %}
    <div class="text-center" style="color: rgb(245, 92, 92);">
        <h2><i class="fa fa-shopping-cart fa-2x"></i> ! You doesn't have any orders yet.</h2>
        <a class="btn btn-primary my-2" href="{% url 'quicksearch' 'for-boys-girls' %}">Book Pg Now</a>

    </div>
    <!-- else show pending orders -->
    {% else %}
    <div class="row">
        {% for order in pending_orders %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 my-3">
            <a href="{% url 'pgdetail' order.pg.sno %}" class="pg-card">
                <div class="card box" style="width: 95%">
                    <div class="p-1">
                        <img src="{{order.pg.thumbnail.url}}" class="card-img-top" alt="..." height="180px">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title ">{{order.pg.name}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted"><i class="fa fa-map-marker"></i> {{order.pg.location}}
                        </h6>

                        <!-- Printing the stars -->
                        {% for i in range %}
                        {% if i <= order.pg.ratings %} <i style="color: orange;" class="fa fa-star"></i>
                            {% else %}
                            <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% endfor %}

                            <span class="badge bg-success mx-2"><i class="fa fa-check"></i> Verified</span>


                            {% if order.pg.type_pg == "Both" %}
                            <span class="badge bg-danger"><i class="fa fa-users"></i> boys/girls</span>
                            {% elif order.pg.type_pg == "Boys" %}
                            <span class="badge bg-danger"><i class="fa fa-male"></i> boys</span>
                            {% else %}
                            <span class="badge bg-danger"><i class="fa fa-female"></i> girls</span>
                            {% endif %}

                            <hr>
                        
                            <h3 style="float: left;"><i class="fa fa-rupee"></i> {{order.pg.price}}/mo</h3>

                            <!-- Booking button only for login user -->
                            {% if user.is_authenticated %}

                            <a href="{% url 'pgdetail' order.pg.sno %}" style="float: right;"
                                class="btn btn-warning "><i class="fa fa-spinner "></i> Order Pending</a>
                              
                             
                            <button onclick="confirm_action({{order.sno}})"  
                                class="btn btn-danger my-1 " style="float: right;"><i class="fa fa-times "></i> Cancel Order</button>
                                
                            {% endif %}

                    </div>
                </div>
            </a>

        </div>
        {%endfor%}
    </div>
    {% endif %}



</div>

<div class="container my-4 " style="color: rgb(64, 124, 64)">
    <hr>
    <h2 class="subheadings my-3">Confirm Orders:</h2>

    <!-- if no order then show empty message -->
    {% if confirm_len == 0 %}
    <div class="text-center mb-5 ">
        <h2><i class="fa fa-bookmark "></i> ! You doesn't have any confirmed orders yet !</h2>

    </div>
    {% else %}
    <div class="row">
        {% for order in confirmed_orders %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 my-3">
            <a href="{% url 'pgdetail' order.pg.sno %}" class="pg-card">
                <div class="card box" style="width: 95%">
                    <div class="p-1">
                        <img src="{{order.pg.thumbnail.url}}" class="card-img-top" alt="..." height="180px">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title ">{{order.pg.name}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted"><i class="fa fa-map-marker"></i> {{pg.location}}
                        </h6>

                        <!-- Printing the stars -->
                        {% for i in range %}
                        {% if i <= order.pg.ratings %} <i style="color: orange;" class="fa fa-star"></i>
                            {% else %}
                            <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% endfor %}

                            <span class="badge bg-success mx-2"><i class="fa fa-check"></i> Verified</span>


                            {% if order.pg.type_pg == "Both" %}
                            <span class="badge bg-danger"><i class="fa fa-users"></i> boys/girls</span>
                            {% elif order.pg.type_pg == "Boys" %}
                            <span class="badge bg-danger"><i class="fa fa-male"></i> boys</span>
                            {% else %}
                            <span class="badge bg-danger"><i class="fa fa-female"></i> girls</span>
                            {% endif %}

                            <hr>
                            <h4 style="float: left;"><i class="fa fa-rupee"></i> {{order.pg.price}}/mo</h4>

                            <!-- Booking button only for login user -->
                            {% if user.is_authenticated %}

                            <a href="{% url 'pgdetail' order.pg.sno %}" style="float: right;"
                                class="btn btn-success "><i class="fa fa-check "></i> Order Confirmed</a>
                            {% endif %}

                    </div>
                </div>
            </a>

        </div>
        {%endfor%}
    </div>
    {% endif %}
    <!-- else show Confirm orders -->


<script>
    function confirm_action(p1)
    // Funtion to confirm cancellation of order
    {
        var txt;
        var r = confirm("After deleting the order you can't able to undo the action. Do you want to delete the order ?");
    if (r == true) {
        
        window.location.href = "http://127.0.0.1:8000/pg/cancelorder/"+p1;
        } 
    else {
        txt = "You pressed Cancel!";
        }
    }
</script>

</div>
{% block js %}

{% endblock js %}
{% endblock body %}
